<p><%= @phone.id %></p>
<p><%= @phone.color %></p>
<p><%= @phone.brand %></p>
<p><%= @phone.size %></p>

    
<p>Edit this phone: <a href="/phones/<%=@phone.id%>/edit">Edit</a></p>


<p>Delete this phone: <%= button_to "delete", "/phones/#{@phone.id}", method: :delete %></p>