<!DOCTYPE html>
<html>
  <head>
    <title>PhoneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><a href="/phones">Home</a></p>
    <p><a href="/phones/new">Make a new phone</a></p>
    
    <%= yield %>
  </body>
</html>
